body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 600px;
  width: 900px;
  background-color:#f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.note{
  display: relative;
  position: relative;
}


.optionsList {
  box-shadow: -10px 2px 16px 0 rgba(47, 46, 46, 0.211), -3px 4px 20px 4px rgba(0,0,0,0.19);
  margin-top: 30px;
  background-color: #ffffff;
  padding: 20px 50px 20px 50px;
  text-align: 'left';
}

.optionsB {
  padding:15px;
  text-align: center;
  background-color: #ffffff;
}

.optionsList li {
  width: 500px;
  margin-top: 30px;
  line-height: 1.5;
  display: block;
  margin-bottom: 30px;
  background-color: #ffffff;
  text-align: left;
  font-size: 15px;
}

.optionsB:hover {
  background-color: #34a5f03a;
  border-radius: 5px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  display: inline;
}


.logo{
  bottom: 0px;
  vertical-align: middle;
  margin: 10px;


}


*{
  font-family: monospace;
 
}
.number{
  color:#2083f5;
  display: inline;
  background-color: #ffffff;
}

.note{
  box-shadow: -10px 2px 16px 0 rgba(47, 46, 46, 0.211), -3px 4px 20px 4px rgba(0,0,0,0.19);
  width: 600px;
  background-color: #ffffff;

}

.body2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.button {
  color: black;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-decoration: none;
  border: 1px solid #34a5f0;
  background-color: #34a5f0a7;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  color:#ffffff;
  font-size: 15px;
}

.button:hover{
  background-color: #34a5f0;
}

.header{
  position: fixed;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
}

.header h3 {
  margin: 0px;
}

.header p {
  margin: 0px;
}

